@use "./partials/mixins" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

// Utils

// Layout

.carousel {
  width: 100%;

  padding: 1rem 0 3rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  .carousel-container {
    width: 50%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .carousel-bg-img {
      position: absolute;
    }
    .carousel-img {
      width: 35%;
      z-index: 2;
    }
  }
}

.title-product {
  width: 50%;
  margin: 5rem auto;

  text-align: center;
  text-transform: uppercase;

  span {
    color: #d2401e;
    font-size: 0.7rem;
    font-weight: 800;
  }
  h4 {
    font-size: x-large;
    font-weight: bold;
  }
  p {
    text-transform: none;
    color: #757575;
    font-size: 0.8rem;
  }
}

.card-product {
  .card-text {
    font-weight: 600;
    font-size: 0.95rem;
    color: #b1862b;
    .prices {
      color: #d2401e;
      .old-price {
        color: rgba($color: #757575, $alpha: 0.4);
        text-decoration: line-through;
      }
    }
  }
}

.events {
  width: 50%;

  color: #ffffff;

  background-image: url("../../../public/img/layout/cielostellato.PNG");
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.book-table-bg {
  background-image: url("../../../public/img/layout/h3-background-img-3.jpg");
  height: 250px;
}

.book-table {
  width: 75%;
  margin: auto;
  align-items: center;
  gap: 3rem;
  .input-table {
    width: 20%;
    padding: 1rem;
  }
}

.form-select {
  background-image: url("../../../public/img/icons-svg/svg-1.svg");
}
