@use "./partials/mixins" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: Helvetica, sans-serif;
}

// Utils

// Layout

.carousel {
  position: relative;

  width: 100%;

  padding: 1rem 0 3rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  .carousel-container {
    width: 50%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .carousel-bg-img {
      position: absolute;
    }
    .carousel-img {
      width: 35%;
      z-index: 2;
    }
  }
}

section.specials {
  height: 700px;
  display: flex;

  .specials-aside {
    width: 50%;

    background-image: url("../../public/img/layout/h1-img-4.jpg");
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 30%;
    }
  }

  .specials-main {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      width: 50%;
      li {
        margin: 1.5rem 0;
      }
    }

    .special-text {
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    .special-text.secondary {
      font-size: 1.2rem;
    }

    .description {
      color: #757575;
      font-size: 0.9rem;
    }

    .special-price {
      color: #d2401e;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.title-product {
  width: 50%;
  margin: 5rem auto;

  text-align: center;
  text-transform: uppercase;

  span {
    color: #d2401e;
    font-size: 0.7rem;
    font-weight: 800;
  }
  h4 {
    font-size: x-large;
    font-weight: bold;
  }
  p {
    text-transform: none;
    color: #757575;
    font-size: 0.8rem;
  }
}

.card-product {
  .card-text {
    font-weight: 600;
    font-size: 0.95rem;
    color: #b1862b;
    .prices {
      color: #d2401e;
      .old-price {
        color: rgba($color: #757575, $alpha: 0.4);
        text-decoration: line-through;
      }
    }
  }
}

section.events {
  height: 700px;
  display: flex;
  .events-main {
    width: 50%;

    color: #ffffff;

    background-image: url("../../../public/img/layout/cielostellato.PNG");
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      width: 50%;
    }

    li.event {
      display: flex;
      gap: 2rem;
      margin: 2rem 0;
      padding-bottom: 2rem;
      border-bottom: #b1862b 1px dotted;
    }

    .events-text {
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    .events-text.secondary {
      font-size: 1.2rem;
    }

    .events-text.smaller {
      font-size: 0.7rem;
      font-weight: normal;
      color: #d2401e;
      padding: 0.5rem 0;
    }

    .events-date {
      color: #d2401e;
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .events-aside {
    width: 50%;
    background-image: url("../../public/img/layout/h3-img-5a.jpg");
    background-size: cover;
  }
}

.book-table-bg {
  background-image: url("../../../public/img/layout/h3-background-img-3.jpg");
  height: 250px;
}

.book-table {
  width: 75%;
  margin: auto;
  align-items: center;
  gap: 3rem;
  .input-table {
    width: 20%;
    padding: 1rem;
  }
}

.form-select {
  background-image: url("../../../public/img/icons-svg/svg-1.svg");
}
