.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-principal {
  width: 100%;

  color: #ffffff;
  background-color: #d2401e;

  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;

  border: transparent;

  padding: 1rem 3.5rem;
}
